# Node modules
node_modules/

# Build outputs
dist/
target/
build/

# Anchor artifacts
.anchor/

# Anchor program ID and localnet cache
**/target/
**/program-id.json
programs/**/target/
programs/**/Cargo.lock

# Env variables
.env
.env.*

# VSCode settings
.vscode/